# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Environment Variables (keeping .env.example for secret key template)
.env
.env.*
!.env.example

# Flask
instance/
.webassets-cache

# macOS
.DS_Store

# Database
*.db
