{% extends "base.html" %}

{% block title %}Technoanimal Runner - My Account{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='auth.js') }}"></script>
<script> // Backend sets modes that used by JS to display correct form on load
    const initialMode = "{{ mode|default('login') }}";
</script>
{% endblock %}

{% block content %}
<section class="w-full flex justify-center items-center py-20 px-6">
    <div class="w-full max-w-md rounded-3xl border border-[var(--primary)] bg-[rgba(255,255,255,0.02)] p-8 shadow-[0_0_1.2rem_var(--secondary)]">
        <h1 id="auth_title" class="text-center text-4xl text-[var(--primary)] mb-3">Welcome Back</h1>
        <p id="auth_subtitle" class="text-center text-[var(--secondary)] mb-8">
            Continue your game and view your scores
        </p>

        <div id="auth_tabs" class="relative flex mb-6 border-b">
            <button id="login_btn" class="w-1/2 py-2 font-semibold">
                Log In
            </button>
            <button id="signup_btn" class="w-1/2 py-2 text-gray-500">
                Sign Up
            </button>

            <div id="tab-underline"
                class="absolute bottom-0 left-0 w-1/2 h-1 border-b-2 border-blue-500 transition-all duration-300">
            </div>
        </div>

        {% if mode != "resend-verification" and mode != "forgot-password" and mode != "reset-password" %}
        <!--Login Form-->
        <form id="login_form" class="space-y-5" method="POST" action="{{ url_for('auth.login') }}">
            {{ login_form.hidden_tag() }} <!-- CSRF protection token -->

            <!--flasing messages-->
            <div class="mb-4">
            {% with flash_message = get_flashed_messages(with_categories=true)[-1] %}
                {% if flash_message %}
                    {% set category, message = flash_message %}
                    {% if category == "login_error" %}
                        <p class="text-red-400 text-sm">{{ message }}</p>
                    {% elif category == "signup_success" %}
                        <p class="text-green-400 text-sm">{{ message}}</p>
                    {% elif category == "verification_success" %}
                        <p class="text-green-400 text-sm">{{ message }}</p>
                    {% elif category == "reset_required" %}
                        <p class="text-green-400 text-sm">{{ message }}</p>
                    {% elif category == "reset_fail" %}
                        <p class="text-green-400 text-sm">{{ message }}</p>
                    {% elif category == "reset_success" %}
                        <p class="text-green-400 text-sm">{{ message }}</p>
                    {% endif %}
                {% endif %}
            {% endwith %}
            </div>

            <div>
                <label class="block text-[var(--primary)] mb-2">Email</label>
                {{ login_form.email(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    type="email",
                    placeholder="Enter your email",
                    required=True
                    )
                }}
                {% for error in login_form.email.errors %}
                    <p class="text-red-400 text-sm mt-1">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>

            <div>
                <label class="block text-[var(--primary)] mb-2">Password</label>
                {{ login_form.password(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    placeholder="Enter your password",
                    required=True
                    )
                }}
                {% for error in login_form.password.errors %}
                    <p class="text-red-400 text-sm mt-1">
                        {{ error }}
                    </p>
                {% endfor %}
            </div>

            <a href="{{ url_for('auth.forgot_password') }}" 
                class="text-[var(--secondary)] hover:text-[var(--primary)] underline underline-offset-2 transition">
                Forgot password?
            </a>
            
            <div>
            {{ login_form.submit(
                    class="w-full p-4 bg-[var(--primary)] hover:scale-105 rounded-2xl text-lg text-white shadow-[0_0_1rem_var(--secondary)] transition"
                ) 
            }}
            </div>
        </form>              

        <!--Sign Up Form-->
        <form id="signup_form" class="space-y-5" method="POST" action="{{ url_for('auth.signup') }}">
            {{ signup_form.hidden_tag() }} <!-- CSRF protection token -->
            
            <!--flasing messages-->
            <div class="mb-4">
            {% with flash_message = get_flashed_messages(with_categories=true)[-1] %}
                {% if flash_message %}
                    {% set category, message = flash_message %}
                    {% if category == "signup_error" %}
                        <p class="text-red-400 text-sm">{{ message }}</p>
                    {% elif category == "verification_required" %}
                        <p class="text-green-400 text-sm">{{ message}}</p>
                    {% elif category == "verification_fail" %}
                        <p class="text-green-400 text-sm">{{ message}}</p>
                    {% elif category == "verification_success" %}
                        <p class="text-green-400 text-sm">{{ message}}</p>
                    {% endif %}
                {% endif %}
            {% endwith %}
            </div>


            <div>
            <label class="block text-[var(--primary)] mb-2">Email</label>
                {{ signup_form.email(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    type="email",
                    placeholder="example@mail.com",
                    required=True
                    )
                }}

                {% for error in signup_form.email.errors %}
                    <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
                <label class="block text-[var(--primary)] mb-2">Password (minimum 6 characters)</label>
                {{ signup_form.password(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    placeholder="Create your password",
                    minlength=6,
                    required=True
                    )
                }}

                {% for error in signup_form.password.errors %}
                    <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
                <label class="block text-[var(--primary)] mb-2">Confirm Password</label>
                {{ signup_form.confirm_password(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    placeholder="Confirm your password",
                    required=True
                    )
                }}

                {% for error in signup_form.confirm_password.errors %}
                    <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
            {{ signup_form.submit(
                    class="w-full p-4 bg-[var(--primary)] hover:scale-105 rounded-2xl text-lg text-white shadow-[0_0_1rem_var(--secondary)] transition"
                ) 
            }}
            </div>
        </form>
        {% endif %}

        <!--Resend_verification_form-->
        {% if mode == "resend-verification" %}
        <form id="resend_verification_form" class="space-y-5" method="POST" action="{{ url_for('auth.resend_verification') }}">
            <button class="w-full p-4 bg-[var(--primary)] hover:scale-105 rounded-2xl text-lg text-white shadow-[0_0_1rem_var(--secondary)] transition"
                type="submit">
                Resend verification email
            </button>
        </form>
        {% endif %}

        <!--Forgot password form-->
        <form id="forgot_password_form" class="space-y-5" method="POST" action="{{ url_for('auth.forgot_password') }}">
            {{ reset_request_form.hidden_tag() }}

            <div>
            <label class="block text-[var(--primary)] mb-2">Email</label>
                {{ reset_request_form.email(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    type="email",
                    placeholder="example@mail.com",
                    required=True
                    )
                }}
                {% for error in reset_request_form.email.errors %}
                    <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
            {{ reset_request_form.submit(
                    class="w-full p-4 bg-[var(--primary)] hover:scale-105 rounded-2xl text-lg text-white shadow-[0_0_1rem_var(--secondary)] transition"
                ) 
            }}
            </div>

        </form>

        <!--Reset password form-->
        {% if mode == "reset-password" and token %}
        <form id="reset_password_form" class="space-y-5" method="POST" action="{{ url_for('auth.reset_password', token=token) }}">
            {{ reset_password_form.hidden_tag() }}

            <!--flasing messages-->
            <div class="mb-4">
            {% with flash_message = get_flashed_messages(with_categories=true)[-1] %}
                {% if flash_message %}
                    {% set category, message = flash_message %}
                    {% if category == "reset_fail" %}
                        <p class="text-red-400 text-sm">{{ message }}</p>
                    {% endif %}
                {% endif %}
            {% endwith %}
            </div>

            <div>
                <label class="block text-[var(--primary)] mb-2">New Password (minimum 6 characters)</label>
                {{ reset_password_form.password(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    placeholder="Create your new password",
                    minlength=6,
                    required=True
                    )
                }}

                {% for error in reset_password_form.password.errors %}
                    <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
                <label class="block text-[var(--primary)] mb-2">Confirm Password</label>
                {{ reset_password_form.confirm_password(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    placeholder="Confirm your new password",
                    required=True
                    )
                }}

                 {% for error in reset_password_form.confirm_password.errors %}
                    <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
            {{ reset_password_form.submit(
                class="w-full p-4 bg-[var(--primary)] hover:scale-105 rounded-2xl text-lg text-white shadow-[0_0_1rem_var(--secondary)] transition"
                ) 
            }}
            </div>
        </form>
        {% endif %}

    </div>
</section>

{% endblock %}