{% extends "base.html" %}

{% block title %}Game Name - My Account{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='auth.js') }}"></script>
<script> // Backend sets modes that used by JS to display correct form on load
    const initialMode = "{{ mode|default('login') }}";
</script>
{% endblock %}

{% block content %}
<section class="w-full flex justify-center items-center py-20 px-6">
    <div class="w-full max-w-md rounded-3xl border border-[var(--primary)] bg-[rgba(255,255,255,0.02)] p-8 shadow-[0_0_1.2rem_var(--secondary)]">
        <h1 id="auth_title" class="text-center text-4xl text-[var(--primary)] mb-3">Welcome Back</h1>
        <p id="auth_subtitle" class="text-center text-[var(--secondary)] mb-8">
            Continue your game and view your scores
        </p>

        <!-- Display latest flash message -->
        <div class="mb-4">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <p class="text-green-400 text-sm">{{ messages[-1] }}</p>
                {% endif %}
            {% endwith %}
        </div>

        <div class="relative flex mb-6 border-b">
            <button id="login_btn" class="w-1/2 py-2 font-semibold">
                Log In
            </button>
            <button id="signup_btn" class="w-1/2 py-2 text-gray-500">
                Sign Up
            </button>

            <div id="tab-underline"
                class="absolute bottom-0 left-0 w-1/2 h-1 border-b-2 border-blue-500 transition-all duration-300">
            </div>
        </div>

        <!--Login Form-->
        <form id="login_form" class="space-y-5" method="POST">
            {{ login_form.hidden_tag() }} <!-- CSRF protection token -->

            <div>
                <label class="block text-[var(--primary)] mb-2">Email</label>
                {{ login_form.email(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    type="email",
                    placeholder="Enter your email",
                    required=True
                    )
                }}
            </div>

            <div>
                <label class="block text-[var(--primary)] mb-2">Password</label>
                {{ login_form.password(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    placeholder="Enter your password",
                    required=True
                    )
                }}
            </div>
            
            <button class="w-full p-4 bg-[var(--primary)] hover:scale-105 rounded-2xl text-lg text-white shadow-[0_0_1rem_var(--secondary)] transition"
                type="submit" 
                name="form_type" 
                value="login">Log In
            </button> 
        </form>              

        <!--Sign Up Form-->
        <form id="signup_form" class="space-y-5" method="POST">
            {{ signup_form.hidden_tag() }} <!-- CSRF protection token -->
            
            <div>
            <label class="block text-[var(--primary)] mb-2">Email</label>
                {{ signup_form.email(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    type="email",
                    placeholder="example@mail.com",
                    required=True
                    )
                }}

                {% for error in signup_form.email.errors %}
                    <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
                <label class="block text-[var(--primary)] mb-2">Password (minimum 6 characters)</label>
                {{ signup_form.password(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    placeholder="Create your password",
                    minlength=6,
                    required=True
                    )
                }}

                {% for error in signup_form.password.errors %}
                    <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <div>
                <label class="block text-[var(--primary)] mb-2">Confirm Password</label>
                {{ signup_form.confirm_password(
                    class="w-full rounded-2xl border border-[var(--primary)] bg-transparent px-4 py-3 text-white placeholder-gray-400 outline-none focus:shadow-[0_0_0.8rem_var(--secondary)]",
                    placeholder="Confirm your password",
                    required=True
                    )
                }}

                {% for error in signup_form.confirm_password.errors %}
                    <p class="text-red-400 text-sm">{{ error }}</p>
                {% endfor %}
            </div>

            <button class="w-full p-4 bg-[var(--primary)] hover:scale-105 rounded-2xl text-lg text-white shadow-[0_0_1rem_var(--secondary)] transition"
                type="submit" 
                name="form_type" 
                value="signup">Sign Up
            </button> 
        </form>
    
    </div>
</section>

{% endblock %}