<html>
    <head>
        <title>Game Name - Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='globals.css')}}">
        <script src="https://cdn.tailwindcss.com"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        <div class = "bg-[var(--background)] border-b border-b-[var(--primary)] flex p-5 text-[var(--primary)] fixed w-full z-10">
            <div class="">
                <a href="{{ url_for('index') }}">
                    Home
                </a>
            </div>
            <div class="ml-auto px-2">
                <a href="{{ url_for('login') }}">
                    Login
                </a>
            </div>
            <div class="px-2">
                <a href="{{ url_for('signup') }}">
                    Sign Up
                </a>
            </div>
        </div>
        <section class="w-full px-5 text-center">
            <div class="h-full flex flex-col justify-center">
                    <h1 class="text-7xl text-[var(--primary)] py-10"
                        style="text-shadow: 0 0 3rem var(--secondary), 0 0 2rem var(--primary);"
                    >
                    Game Name
                    </h1>
                <h3 class="text-lg text-[var(--secondary)] pb-16" style="text-shadow: 0 0 2rem var(--secondary), 0 0 1rem var(--primary);">Game Description</h3>
                <div class="flex justify-center flex-wrap gap-10 text-lg">
                    <a href="{{ url_for('play') }}" class="">
                        <div class="p-7 bg-[var(--primary)] hover:scale-105 w-fit rounded-3xl shadow-[0_0_1rem_var(--secondary)]">
                            Start Playing
                        </div>
                    </a>
                    <a href="{{ url_for('leaderboard') }}">
                        <div class="p-7 hover:scale-105 w-fit rounded-3xl shadow-[0_0_1rem_var(--secondary)] backdrop-brightness-110">
                            Leaderboard
                        </div>
                    </a>
                </div>
            </div>
            
            <div class="flex justify-center flex-wrap mb-64 text-lg text-left">
                <div class="p-7 rounded-2xl w-64  m-5 shadow-[0_0_1rem_var(--secondary)] backdrop-brightness-110">
                    <p class="p-2 bg-[var(--secondary)] w-fit rounded-lg relative mb-1">
                        <i class="fa fa-bolt" aria-hidden="true"></i>
                    </p>
                    <p class="mb-1">
                        <b>
                            Endless Challenge
                        </b>
                    </p>
                    See how far you can go with increasingly difficult conditions
                </div>
                <div class="p-7 rounded-2xl w-64 m-5 shadow-[0_0_1rem_var(--secondary)] backdrop-brightness-110">
                    <p class="p-2 bg-[var(--secondary)] w-fit rounded-lg relative mb-1">
                        <i class="fa fa-trophy" aria-hidden="true"></i>
                    </p>
                    <p class="mb-1">
                        <b>
                            Global Rankings
                        </b>
                    </p>
                    Compete with players worldwide to see where you place
                </div>
                <div class="p-7 rounded-2xl w-64  m-5 shadow-[0_0_1rem_var(--secondary)] backdrop-brightness-110">
                    <p class="p-2 bg-[var(--secondary)] w-fit rounded-lg relative mb-1">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </p>
                    <p class="mb-1">
                        <b>
                            Rich Customisation
                        </b>
                    </p>
                    Unlock cosmetics with currency or by getting achievements
                </div>

            </div>
            <div class="text-center w-full mb-32">
                <h2 class="text-5xl text-[var(--primary)]" style="text-shadow: 0 0 3rem var(--secondary), 0 0 2rem var(--primary);">Ready to Start?</h2>
                <p class="my-10 mb-20" style="text-shadow: 0 0 1rem var(--secondary), 0 0 1rem var(--primary);">Join other runners in the journey to become the best!</p>
                <div class="mx-auto p-7 bg-[var(--primary)] hover:scale-105 w-fit rounded-3xl text-lg  shadow-[0_0_1rem_var(--secondary)]">
                    <a href="{{ url_for('signup') }}">
                        Create a Free Account!
                    </a>
                </div>
                
            </div>


        </section>

    </body>


</html>